<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albertjsoft.portainerapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.PortainerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateVisible"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.ui.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/login">

            <intent-filter android:label="@string/login">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.albertjsoft.portainerapp"
                    android:host="login"/>

            </intent-filter>
        </activity>
        <activity android:name=".view.ui.home.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <service
            android:name=".session.SessionService"
            android:exported="true" >
           <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/portainer_app_authenticator" />
        </service>
    </application>
</manifest>
